* {
	padding: 0;
	margin: 0;
}

.FieldView {
	position: absolute;
	left: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	background-color: #aaa;
	overflow: hidden;
}

.CardView {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #444;
	background-color: #fff;
}

.ControlsView {
	position: absolute;
	left: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	background-color: #333;
}

.ControlButton {
	position: absolute;
	height: 50px;
	width: 100px;
	top: 20px;
}

.RollButton {
	left: 20px;
}

.RaiseBet {
	right: 20px;
}

.LowerBet {
	right: 140px;
}

.DeniedButton {
	right: 270px;
	background-color: #f00;
	color: #fff;
}

.PlayerStateView {
	position: absolute;
	left: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #f27;
	background-color: #eee;
}

.CashText {
	position: absolute;
	left: 10px;
	top: 10px;
}

.BetText {
	position: absolute;
	right: 10px;
	top: 10px;
}